.body{
    width: 70%;
    padding: 0 100px;
    color: white;
    height: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: black;
}

.main{
    height: 100vh;
    overflow-y: scroll;
}

@media (max-width: 820px){
    .body{
        padding: 0;
    }
}