.box{
    width: 100%;
    height: 10%;
    border: 1px solid white;
    color: white;
    border-radius: 1rem;
    box-sizing: border-box;
    margin: 30px 0;
    padding: 10px 30px;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 25px 0;
}

.search_title{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-weight: bold;
    border-radius: 1rem;
    padding: 8px 12px;
    box-sizing: border-box;
    margin-bottom: 20px;
    min-width: 380px;
}

.search_title_box{
    min-width: 300px;
    text-align: center;
}

.search_title input[type = "text"]{
    padding: 8px 24px;
    box-sizing: border-box;
    border-radius: 1rem;
}




.search_btn button,
.btn{
    width: 100px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}


.search_btn button:hover,
.btn:hover{
    background-color: blue;
    color: white;
    border: 2px solid white;
}