.btndox{
    margin-top: 125px;
}
.btndox button{
    width: 75px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.btndox button:hover{
    background-color: blue;
    color: white;
    border: 2px solid white;
}

