.box{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
    z-index: 10;
}

/*  */
.bundle{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    
}

.bundle .title h1{
    margin: 0;
}

/* 서브 박스 */
.subBox{
    position: fixed;
    height: calc(100vh - 100px); 
    width: 260px;
    min-width: 100px;
    border: 1px solid white;
    top: 100px;
    left: 0;
    background-color: black;
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    box-sizing: border-box;
    padding: 0 10px;
    overflow-y: scroll;
}

.subBox.open{
    transform: translateX(0);
}

.content_title{
    margin: 40px;
    text-align: center;
}

.content_bundle{
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;
    align-items: center;
}

.content_list{
    width: 90%;
    margin: 20px auto;
    height: 65vh;
    border: 1px solid white;
    overflow-y: scroll;
    padding: 10px;
    box-sizing: border-box;
}

.content_data_box{
    border-bottom: 1px solid white;
}
.content_data_box p{
    margin: 5px 0;
}
.content_data_box h1{
    margin: 7px 0;
}

/* 로그인 회원가입 */

.bundle button,
.content_bundle button{
    width: 75px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.bundle button:hover,
.content_bundle button:hover{
    background-color: blue;
    color: white;
    border: 2px solid white;
}



/*  */
.curser{
    cursor: pointer;
    transition: 0.5s;
}

.curser:hover{
    color: blue;
}

@media (max-width: 820px){
    .box{
        padding: 0 50px;
    }
}

@media (max-width: 480px){
    .box{
        height: 50px;
    }
    .subBox{
        height: calc(100vh- 50px);
    }
    .bundle .title h1{
        font-size: 1.5rem;
    }
    .box{
        padding: 0;
    }
}



