.box{
    width: 100%;
    height: 90%;
    background-image: url("/public/userprofile.jpg");
    border-radius: 1rem;
    margin-top: 15%;
    padding: 50px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
}

.info{
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 10px 30px;
}
.check h2{
    margin: 0;
}
.check p{
    margin-top: 0;
}