/* https://developer.mozilla.org/ko/docs/Web/CSS/Reference/Properties/visibility */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 10px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    transform: translateY(-20px);
    visibility: hidden;
    transition: 0.5s ease;
    height: 0;
    overflow-y: scroll;
}

.open{
    height: 300px;
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

/*  */
.box_title h1{
    margin: 10px 0;
}

.input_box{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 320px;
    margin-bottom: 10px;
}

.title,
.description,
.date{
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.title,
.description,
.date{
    font-weight: bold;
}

.input_box input[type = "text"]{
    width: 200px;
    padding: 8px 24px;
    box-sizing: border-box;
    border-radius: 1rem;
}


.date{
    justify-content: left;
}
.date label{
    margin-right: 8px;
}

.btn button{
    width: 100px;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}


.btn button:hover{
    background-color: blue;
    color: white;
    border: 2px solid white;
}











